<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <header class="p-4 mt-2 mb-4 bg-light rounded border">
            <h1>My Movies</h1>
            <h2>A movie app for the movie enthusiast</h2>
        </header>
        @RenderBody()
    </div>
</body>
</html>