@model Movie

@{
    Layout = "_Layout1";
}

<h2>Edit</h2>

<form asp-action="Save" method="post">
    <input type="hidden" name="MovieId" value="@Model.MovieId" />
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Year">Year</label>
        <div><span asp-validation-for="Year" class="text-danger"></span></div>
        <input asp-for="Year" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Genre">Genre</label>
        <div><span asp-validation-for="Genre" class="text-danger"></span></div>
        <input asp-for="Genre" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <div><span asp-validation-for="Rating" class="text-danger"></span></div>
        <input asp-for="Rating" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>

